<span class="nypr-player-stream-info-station-info">
  LIVE NOW on <a href={{streamScheduleUrl}}
   target={{if (is-external streamScheduleUrl) '_blank'}}
   rel={{if (is-external streamScheduleUrl) 'noopener'}}
   data-tracking-category='Persistent Player'
   data-tracking-action='Click Through to Schedule'
   data-tracking-label='{{streamName}}'>{{streamName}}</a>
</span>
<span class="nypr-player-stream-info-station-links">
  <a href={{streamScheduleUrl}}
     title='Schedule'
     target={{if (is-external streamScheduleUrl) '_blank'}}
     rel={{if (is-external streamScheduleUrl) 'noopener'}}
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Schedule'
     data-tracking-label='{{streamName}}'>SCHEDULE</a>
  {{#if streamPlaylistUrl}}
  <a href={{streamPlaylistUrl}}
     title='Music Playlist'
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Music Playlist'
     data-tracking-label='{{streamName}}'>MUSIC PLAYLIST</a>
  {{/if}}
  {{#link-to 'stream' (query-params modal='null') title='All Live Streams'}}ALL LIVE STREAMS{{/link-to}}
</span>
