{{#text-crawl watch=currentAudio}}
  {{!-- Show Link --}}
  {{#if (and showTitle (media 'isNyprPlayerMediumAndUp'))}}
    <a href={{showUrl}}
       title={{showTitle}}
       class='nypr-player-link'
       target={{if (is-external showUrl) '_blank'}}
       rel={{if (is-external showUrl) 'noopener'}}>{{{showTitle}}}</a>
    {{#if (or storyTitle songDetails)}} - {{/if}}
  {{/if}}

  {{!-- Story Link --}}
  {{#if storyTitle}}
    <a href={{storyUrl}}
       title={{storyTitle}}
       class='nypr-player-link'
       target={{if (is-external storyUrl) '_blank'}}
       rel={{if (is-external storyUrl) 'noopener'}}
       data-test-selector="nypr-player-story-title">{{{storyTitle}}}</a>
  {{/if}}

  {{!-- Song Info --}}
  {{#if songDetails}}
    {{songDetails}}
  {{/if}}

  {{#if (and showTitle (media 'isNyprPlayerSmallOnly'))}}
    {{#if (or storyTitle songDetails)}} - {{/if}}
    <a href={{showUrl}}
       title={{showTitle}}
       class='nypr-player-link'
       target={{if (is-external showUrl) '_blank'}}
       rel={{if (is-external showUrl) 'noopener'}}>{{{showTitle}}}</a>
  {{/if}}
{{/text-crawl}}
