{{#holygrail-layout class="queueitem" as |g|}}
  {{#g.center}}
    <div class="queueitem-info">
      <div class="text flush queueitem-title">
        <span class="queueitem-itemtitle">
          <a href='{{story.url}}?modal=null' title={{story.title}}>{{{story.title}}}</a>
        </span>
        <span class="queueitem-duration">{{story.audioDurationReadable}}</span>
      </div>
      {{#if story.headers.brand.url}}
        <div class="text text--medium text--gray flush queueitem-showtitle">
          <a href='{{story.headers.brand.url}}?modal=null'
             title={{story.showTitle}}>{{{story.showTitle}}}</a>
        </div>
      {{/if}}
      <div class="queueitem-controls">
        {{#nypr-share-button
          classNames="queueitem-sharebutton"
          shareText=story.shareMetadata.shareText
          shareUrl=story.shareMetadata.shareUrl
          as |share|}}
          {{share.button
            type='Facebook'}}
          {{share.button
            type='Twitter'
            via='WNYC'}}
          {{share.button
            type='Email'}}
        {{/nypr-share-button}}
        {{#if removeAction}}
          <button class="btn btn--blank btn--playerlight queueitem-deletebutton" {{action removeAction story.id}}>
            {{nypr-svg className="icon" icon="trash"}}
          </button>
        {{/if}}
      </div>
    </div>
  {{/g.center}}

  {{#g.right}}
    <div class="btn-group">
      {{listen-button
        type='blue-hollow'
        isCurrentSound=isCurrent
        playContext=playContext
        itemPK=story.id
        itemTitle=story.title
        itemShow=(or story.showTitle story.headers.brand.title)}}
    </div>
  {{/g.right}}
{{/holygrail-layout}}

{{#if (and isCurrent (eq playContext 'queue'))}}
  <div class="queueitem-playingicon">
    {{nypr-svg className="icon" icon="speaker"}}
  </div>
{{/if}}
{{#if draggable}}
  <div class="queueitem-draghandle">
    {{nypr-svg className="icon" icon="reorder"}}
  </div>
{{/if}}
