{{#if hasBlock}}
  {{yield activeStream}}
{{else}}
  {{#if (and activeStream.currentComposer.name activeStream.currentPiece)}}
    <h2 class="h2">{{activeStream.currentComposer.name}}</h2>
    <h3 class="h3">{{activeStream.currentPiece}}</h3>
  {{else}}
    {{#if activeStream.currentShow.showUrl}}
      <h2 class="h2"><a href='{{activeStream.currentShow.showUrl}}'>{{activeStream.currentShow.showTitle}}</a></h2>
    {{else}}
      <h2 class="h2">{{activeStream.currentShow.showTitle}}</h2>
    {{/if}}
      {{#if activeStream.currentShow.episodeTitle}}
        {{#if activeStream.currentShow.episodeUrl}}
          <h3 class="h3"><a href='{{activeStream.currentShow.episodeUrl}}'>{{activeStream.currentShow.episodeTitle}}</a></h3>
        {{else}}
          <h3 class="h3">{{activeStream.currentShow.episodeTitle}}</h3>
        {{/if}}
      {{/if}}
  {{/if}}
{{/if}}
